/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  color: #100359;
}
nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  width: 100%;
  background: #100359;
  overflow: hidden;
  position: fixed;
  z-index: 1;
}
nav .nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  padding: 0% 2%;
  background: #100359;
}
nav .nav-container .logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
nav .nav-container .logo h3 {
  font-size: 1.4rem;
  color: white;
  display: none;
}
@media (min-width: 500px) {
  nav .nav-container .logo h3 {
    display: block;
  }
}
nav .nav-container .logo img {
  width: 40%;
}
nav .nav-container .links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100px;
}
@media (min-width: 500px) {
  nav .nav-container .links {
    width: 250px;
  }
}
nav .nav-container .links button {
  color: white;
  font-size: 3rem;
  border: none;
  background: #100359;
}
@media (min-width: 500px) {
  nav .nav-container .links button {
    display: none;
  }
}
nav .nav-container .links .tablet-link {
  display: none;
}
@media (min-width: 500px) {
  nav .nav-container .links .tablet-link {
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.5rem;
    width: 400px;
    border-radius: 5px;
    align-items: center;
    text-decoration: none;
    background: #1e8ad2;
    color: white;
    margin: 3% 2%;
    padding: 4% 4%;
  }
}
nav #view {
  display: none;
}
nav .hamburger-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
nav .hamburger-links a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 3rem;
  width: 100%;
  border-radius: 5px;
  align-items: center;
  text-decoration: none;
  background: #1e8ad2;
  color: white;
  border-radius: 0;
  margin: 1px 0%;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 350px;
  margin-top: 75px;
  background: url("/img/Header-Bed.jpg") no-repeat center center / cover;
  color: white;
  font-weight: 600;
}
@media (min-width: 500px) {
  header {
    justify-content: flex-start;
    height: 450px;
  }
}
header .uvp {
  padding: 0% 2%;
  width: 100%;
  height: 400px;
}
@media (min-width: 500px) {
  header .uvp {
    width: 400px;
    margin-left: 8%;
    padding: 1% 1%;
  }
}
header h1 {
  font-size: 3.5rem;
  margin: 2% 0%;
}
header a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.5rem;
  width: 50%;
  border-radius: 5px;
  align-items: center;
  text-decoration: none;
  background: #1e8ad2;
  color: white;
  height: 40px;
  width: 150px;
  margin: 15px 0%;
  font-size: 2rem;
}
@media (min-width: 500px) {
  header a {
    width: 75%;
  }
}
.container {
  padding: 2%;
}
@media (min-width: 500px) {
  .container {
    padding: 0%;
  }
}
.container .features-intro {
  font-size: 2.6rem;
  font-weight: 600;
  margin-top: 40px;
}
.container .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 500px) {
  .container .content {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.container .content .quality {
  background: url("/img/Sleeping.jpg") no-repeat center center / cover;
  color: white;
}
.container .content .alarm {
  background: url("/img/alarm1.jpg") no-repeat center center / cover;
  color: white;
}
.container .content .mood {
  background: url("/img/sleepy pug.jpg") no-repeat center center / cover;
  color: white;
}
.container .content .co-sleep {
  background: url("/img/co-sleeping.jpg") no-repeat center center / cover;
}
.container .content .pairing {
  background: url("/img/phone.jpg") no-repeat center center / cover;
}
.container .content .insights {
  background: url("/img/lightbulb.jpg") no-repeat center center / cover;
  color: white;
}
.container .content .features {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 350px;
  width: 100%;
  margin: 20px 0px;
  padding: 25px 16px;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-width: 500px) {
  .container .content .features {
    width: 32%;
    height: 300px;
  }
}
.container .content .features h1 {
  width: 100%;
  font-size: 3rem;
  font-weight: 600;
}
@media (min-width: 500px) {
  .container .content .features h1 {
    font-size: 2rem;
  }
}
