// Variables

// Color pointers

@body-color: #0f0354;

@nav-bg: #0f0354;
// @nav-font: @river-bend;
@link-bg: #1e8ad2;


// @header-font-color: @ebony-clay;
@header-bg: #9d90ea;

// @main-font-color: @shuttle-gray;
// @main-border-color: @border-real;

// @footer-background: @wild-sand;
// @footer-font-color: @waterloo;


// Mobile var

// @phone: ~'(max-width: 500px)';